.navbar-container{
    height:60px;
}


.navbar-logo{
    color: #fff;
    font-size: 30px;
}

.navbar-text:hover{
    color: #00ADB5 !important;
    transition: 1s ease;
}

.nav-item:hover{
    cursor: pointer;
}

.cart-icon{
    animation: fadeIn 1s ease;
}

.cart-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s ease;
}

.navbar-signup{
    background-color: #00ADB5;
}

.navbar-logo{
    cursor: pointer;
}
.navbar-signup:hover{
    background-color: #2b93b0;
    transform: scale(1.1);
    transition: .5s ease;
}

.profile-icon{
    position: relative;
}

.profile{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
}

.profile-icon:hover .profile{
    display: flex;
    flex-direction: column;
    gap: 1px;
    background-color: #333;
    padding: 12px 25px;
    border-radius: 4px;
    border: 1px solid #fff;
    list-style: none;
    outline: 2px solid #00ADB5;
}

.profile-item:hover{
    transition: 1s ease;
    color: #2b93b0;
    cursor: pointer;
}
