.navbar-container{
    height:60px;
}


.navbar-logo{
    color: #fff;
    font-size: 30px;
}

.navbar-text:hover{
    color: #00ADB5 !important;
    transition: 1s ease;
}

.nav-item:hover{
    cursor: pointer;
}

.cart-icon{
    animation: fadeIn 1s ease;
}

.cart-icon:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: .4s ease;
}