.cart-items{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cart-item-card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #393E46;
    border: 1px solid #00ADB5;
}

.cart-item{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.cart-item img{
    padding: 10px;
    height: 100px;
    width: 100px;
}

.cart-item-content{
    display: flex;
    flex-direction: column;
}

.cart-item-function{
    display: flex;
    justify-content: space-around;
    gap: 40px;
    align-items: center;
    background-color: #393E46;
}

.cart-item-quantity{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 10px;
}

.cart-item-quantity i:hover{
    cursor: pointer;
}

.cart-item-remove{
    background-color: #903749;
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
    border: 1px solid #E84545;
    border-radius: 50px;
    padding: 10px;
}

.cart-item-remove i{
    font-style: normal;

}

.cart-bottom{
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    font-size: larger;
}
.cart-bottom span{
    font-size: large;
    font-weight: 600 ;
    font-size: x-large;
}
.cart-bottom button{
    width: 300px;
    height: 50px;
    background-color: #00ADB5;
    color: #fff;
}

@media(max-width:760px){
    .cart-bottom{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
}